6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You
have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points
and rating.

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

source = requests.get(url).text
soup = BeautifulSoup(source, 'html.parser')

print(soup.title.text)

pos_list1 = []
match_list1 = []
point_list1 = []
rating_list1 = []

banner_data = soup.find('tr', class_="rankings-block__banner")
pos_data = banner_data.find('td', class_ = 'rankings-block__banner--pos').text
pos_list1.append(pos_data)


match_data = banner_data.find('td', class_="rankings-block__banner--matches").text
match_list1.append(match_data)

point_data = banner_data.find('td', class_="rankings-block__banner--points").text
point_list1.append(point_data)

rating_data = banner_data.find('td', class_ = 'rankings-block__banner--rating u-text-right')
rating_list1.append(rating_data.text.strip())

pos_list2 = []
team_list2 = []
match_list2 = []
point_list2 = []
rating_list2 = []

data_pos = soup.find_all('td', class_="table-body__cell table-body__cell--position u-text-right")
for i in data_pos:
    pos_list2.append(i.text)

Pos = pos_list1 + pos_list2
    
data_team = soup.find_all('span', class_="u-hide-phablet", limit = 10)
for i in data_team:
    team_list2.append(i.text)

Team = team_list2
    
mixture = []   
data_matches = soup.find_all('td', class_="table-body__cell u-center-text")
for i in data_matches:
    mixture.append(i.text)

match_list2 = mixture[::2]

Match = match_list1 + match_list2

point_list2 = mixture[::-2][::-1]

Points = point_list1 + point_list2

data_ratings = soup.find_all('td', class_="table-body__cell u-text-right rating")
for i in data_ratings:
    rating_list2.append(i.text)

Rating = rating_list1 + rating_list2

Top_woman_ODI_team = pd.DataFrame({
    'Pos' : Pos,
    'Teams' : Team,
    'Matchs' : Match,
    'Points' : Points,
    'Rating' : Rating
})

Top_woman_ODI_team.to_csv("Top_woman_ODI_team.csv")
Top_woman_ODI_team

ICC Ranking for ODI teams International Cricket Council

  Pos         Teams Matchs Points Rating
0   1     Australia     18  2,955    164
1   2  South Africa     24  2,828    118
2   3       England     17  1,993    117
3   4         India     20  2,226    111
4   5   New Zealand     21  1,947     93
5   6   West Indies     12  1,025     85
6   7      Pakistan     15  1,101     73
7   8    Bangladesh      5    306     61
8   9     Sri Lanka     11    519     47
9  10       Ireland      2     25     13

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [74]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

source = requests.get(url).text
soup = BeautifulSoup(source, 'html.parser')

print(soup.title.text)

pos_list1 = []
name_list1 = []
team_list1 = []
rating_list1 = []

banner_data = soup.find('tr', class_="rankings-block__banner")

pos = banner_data.find('td', class_="rankings-block__position").text
pos_list1.append(pos)



name = banner_data.find('div', class_ = "rankings-block__banner--name-large").text
name_list1.append(name)



team = banner_data.find('div', class_="rankings-block__banner--nationality").text.replace('\n', '')
team_list1.append(team)



rating = soup.find('td', class_="u-text-left").text.replace('\n', '')
rating_list1.append(rating)


pos_list2 = []
pos_data = soup.find_all('td', class_="table-body__cell table-body__cell--position u-text-right", limit = 9)
for i in pos_data:
    pos_list2.append(i.text.replace('This player has moved up in the rankings since the previous rankings update\n\n','').strip())
    
Pos = pos_list1 + pos_list2

name_list2 = []
name_data = soup.find_all('td', class_="table-body__cell rankings-table__name name", limit = 9)
for i in name_data:
    name_list2.append(i.text.replace("\n", ''))
Name = name_list1 + name_list2



team_list2 = []
team_data = soup.find_all('span', class_="table-body__logo-text", limit = 9)
for j in team_data:
    team_list2.append(j.text)
Team = team_list1 + team_list2


rat_list2 = []
rat_data = soup.find_all('td', class_="table-body__cell rating", limit = 9)
for z in rat_data:
    rat_list2.append(z.text)
Rating = rating_list1 + rat_list2

Top_ODI_Woman = pd.DataFrame({
    'Pos' : Pos,
    'Name' : Name,
    'Team' : Team,
    'Rating' : Rating
})

Top_ODI_Woman.to_csv('Top_ODI_Woman.csv')
Top_ODI_Woman

Live Cricket Scores & News International Cricket Council

  Pos               Name Team Rating
0   1     Tammy Beaumont  ENG    765
1   2        Lizelle Lee   SA    758
2   3       Alyssa Healy  AUS    756
3   4    Stafanie Taylor   WI    746
4   5        Meg Lanning  AUS    723
5   6  Amy Satterthwaite   NZ    715
6   7    Smriti Mandhana  IND    710
7   8        Mithali Raj  IND    709
8   9     Natalie Sciver  ENG    685
9  10    Laura Wolvaardt   SA    683

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [77]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

source = requests.get(url).text
soup = BeautifulSoup(source, 'html.parser')
print(soup.title.text)


data = soup.find('tr', class_="rankings-block__banner")

player = []
team = []
rating = []


data_player = data.find('div', class_="rankings-block__banner--name-large").text
player.append(data_player)

data_team = data.find('div', class_="rankings-block__banner--nationality").text.replace('\n', '')
team.append(data_team)

data_rating = soup.find('div', class_="rankings-block__banner--rating").text
rating.append(data_rating)

player_list = []
player_data = soup.find_all('td', class_="table-body__cell rankings-table__name name", limit = 9)
for i in player_data:
    player_list.append(i.text.replace('\n', ''))
    
Player = player + player_list
    
team_list = []
team_data = soup.find_all('span', class_="table-body__logo-text", limit = 9)
for i in team_data:
    team_list.append(i.text.replace('\n', ''))
    
Team = team + team_list
    
rating_list = []
rating_data = soup.find_all('td', class_="table-body__cell rating", limit = 9)
for i in rating_data:
    rating_list.append(i.text.replace('\n', ''))
    
Rating = rating + rating_list

Top_ODI_Allrounders = pd.DataFrame({
    'Player' : Player,
    'Team' : Team,
    'Rating' : Rating
})

Top_ODI_Allrounders.to_csv('Top_ODI_Allrounders.csv')

Top_ODI_Allrounders

Live Cricket Scores & News International Cricket Council

             Player Team Rating
0    Marizanne Kapp   SA    418
1      Ellyse Perry  AUS    418
2   Stafanie Taylor   WI    410
3    Natalie Sciver  ENG    349
4     Deepti Sharma  IND    343
5     Jess Jonassen  AUS    307
6  Ashleigh Gardner  AUS    252
7  Dane van Niekerk   SA    243
8     Sophie Devine   NZ    242
9       Amelia Kerr   NZ    236